.expand-card{
  height:100%;
}


.biz-title{
    font-family: 'Tangerine',serif;
    font-weight:italic;
    margin-left:45px;
    color:#fff;
    font-size:1.2em;
   }
   
   .kent-link:visited{
     color:red;
   }


.service-description{
  padding:5px;
}
.service-title {
    overflow: hidden;
    text-align: center;

}
.service-title:before,
.service-title:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;

}
.service-title:before {
    right: 0.5em;
    margin-left: -50%;
}
.service-title:after {
    left: 0.5em;
    margin-right: -50%;
}

.italic{
 text-align:center;
 font-family: 'Tangerine', serif;
 font-weight:italic;
 font-size: 100px;
 text-shadow: 4px 4px 4px #aaa;
 color:#564e20;
/*   #716a40;*/

}

.rights-reserved{
  font-size:.8em;
}
.gallery{
  width:100%;
}
 